.navbar {
    background-color:white;
}
a {
    color:  #18b9c0;
}
.navbar-default .navbar-brand {
    color: #18b9c0;

}

.nav-pills > li.active a{
 color: #18b9c0;
 background-color: white;
 border: 3px solid #18b9c0;
}