<!--<div class="nav-user">
<img *ngIf="auth.authenticated()" src="{{auth.userProfile.picture}}" alt="" class="img-circle">

<h4 *ngIf="auth.authenticated()">Welcome {{auth.userProfile.nickname}}</h4>

</div>
        <span class="app-toolbar-filler"></span>-->

<button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item href="#" (click)="auth.login()" *ngIf="!auth.authenticated()">
    <md-icon>lock_open</md-icon>
        <span>login</span> 
    </button>
  <button md-menu-item href="#" (click)="auth.logout()" *ngIf="auth.authenticated()">
    <md-icon>lock</md-icon>
     <span>logout</span> 
    </button>
  <button md-menu-item routerLink="/profile" *ngIf="auth.authenticated()">
    <md-icon>account_circle</md-icon>
    <span>profile</span>
  </button>


</md-menu>
