<div class="sidenav-links">
  <img src="../assets/img/logo.png" width="245" height="55" class="logo" alt="logo">

    <button md-menu-item routerLink="/">
    <md-icon>home</md-icon>
    <span>Home</span>
  </button>
    <button md-menu-item routerLink="/profile">
    <md-icon>face</md-icon>
    <span>Profile</span>
  </button>
    <button md-menu-item routerLink="/locations">
    <md-icon>account_circle</md-icon>
    <span>locations</span>
  </button>
          <button md-menu-item routerLink="/graphs">
    <md-icon>trending_up</md-icon>
    <span>graphs</span>
  </button>
</div>
