<div class="container">
  <h2>profile</h2>
  <h4>nickname: {{ auth.userProfile.name }}</h4>
  <div class="row">
    <div class="col-sm-4">
      <img class="thumbnail" style="width:100%" src="{{ auth.userProfile.picture }}" alt="">
    </div>
    <div class="col-sm-6">
      <ul class="list-group">
        <li class="list-group-item">email: {{ auth.userProfile.email }}</li>
        <li class="list-group-item">profile last updated: {{ auth.userProfile.updated_at }}</li>

      </ul>
    </div>
  </div>

</div>
